@using System.Security.Claims
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kuvuBot.Panel</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css">*@

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">kuvuBot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Statistics">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Panel">Panel</a>
                        </li>
                        <li class="nav-item ml-auto">
                            @if (User?.Identity?.IsAuthenticated ?? false)
                            {
                                <a class="nav-link text-blurpe float-left" asp-controller="Authentication" asp-action="Logout">Logout</a>
                                <img src="@("https://cdn.discordapp.com/avatars/" + User.FindFirstValue(ClaimTypes.NameIdentifier) + "/" + User.FindFirstValue("avatar") + "?size=40")" class="rounded-circle" width="40" height="40" />
                            }
                            else
                            {
                                <a class="nav-link text-blurpe" asp-controller="Authentication" asp-action="Login">Login with discord</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                &copy; 2019 - kuvuBot Team
                <section id="links" class="ml-auto">
                    <a class="link-icon" href="https://github.com/kuvuBot/kuvuBot">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="link-icon" href="https://discordapp.com/oauth2/authorize?&client_id=205965155282976768&scope=bot&permissions=8">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="link-icon" href="https://discord.gg/KbUdeKe">
                        <i class="fab fa-discord"></i>
                    </a>
                </section>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>