@page
@using kuvuBot.Commands;
@using kuvuBot.Commands.Attributes
@using MoreLinq;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var commands = kuvuBot.Program.Commands.RegisteredCommands.Values.Where(x=>!x.IsHidden).DistinctBy(x => x.Name).ToList();
    var categories = commands.Where(x => x.Name != "help").Select(c => c.Category()).DistinctBy(x => x).ToList();
}

<div class="container">
    <section id="commands">
        <h1>Commands</h1>
        <div data-aos="fade-left" class="container content">
            <nav>
                <div class="nav nav-tabs cmds-tabs" id="nav-tab" role="tablist">
                    @foreach (var category in categories)
                    {
                        <a class="nav-item nav-link cmds-tabs not @(category == categories[0] ? "active" : "")" id="cmd-@category-tab" data-toggle="tab" href="#cmd-@category" role="tab" aria-controls="cmd-@category" aria-selected="true">@category</a>
                    }
                    <select class="custom-select ml-auto language-select">
                        <option value="en" selected="@("en" == Model.Lang)">English</option>
                        <option value="pl" selected="@("pl" == Model.Lang)">Polish</option>
                    </select>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                @foreach (var category in categories)
                {
                    <div class="tab-pane fade @(category == categories[0] ? "show active" : "")" id="cmd-@category" role="tabpanel" aria-labelledby="cmd-@category-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var command in commands.Where(c => c.Category() == category))
                                {
                                    <tr>
                                        <td>kb!@command.Name</td>
                                        <td>@command.LocalizedDescription(Model.Lang ?? "en")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </section>

    <section id="stats">
        <h1>Stats</h1>
        <div class="container content info-content">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="card text-white bg-success mb-3 text-center">
                        <div class="card-header">Guilds</div>
                        <div class="card-body">
                            <h3 class="card-title">@Features.StatisticManager.Guilds</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card text-white bg-warning mb-3 text-center">
                        <div class="card-header">Channels</div>
                        <div class="card-body">
                            <h3 class="card-title">@Features.StatisticManager.Channels</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card text-white bg-primary mb-3 text-center">
                        <div class="card-header">Users</div>
                        <div class="card-body">
                            <h3 class="card-title odometer">@Features.StatisticManager.Users</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>