@page
@using kuvuBot.Commands;
@using kuvuBot.Commands.Attributes
@using MoreLinq;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["BigHeader"] = true;
    var commands = kuvuBot.Program.Commands.RegisteredCommands.Values.Where(x => !x.IsHidden).DistinctBy(x => x.Name).ToList();
    var categories = commands.Where(x => x.Name != "help").Select(c => c.Category()).DistinctBy(x => x).ToList();
}

<section id="commands">
    <div class="container">
        <h2 class="text-center mb-5 pt-2">Commands</h2>
        <div class="row pb-5">
            <div class="col-md-3">
                <ul class="commands-categories">
                    @foreach (var category in categories)
                    {
                        <li class="commands-category @(category == categories[0] ? "active" : "")" data-category="@category">
                            <span>@category</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <div class="commands-list-box">
                    @foreach (var category in categories)
                    {
                        <div class="commands-list-category @(category == categories[0] ? "list-last" : "d-none")" data-list="@category">
                            <ul class="commands-list">
                                @foreach (var command in commands.Where(c => c.Category() == category))
                                {
                                    <li class="command">@command.Name - @command.LocalizedDescription("en")</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="stats" class="pt-5">
    <div class="container">
        <h2 class="text-center mb-5 pt-2">Stats</h2>
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body">
                        @Features.StatisticManager.Guilds
                    </div>
                    <div class="stats-footer">
                        <p>Servers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body">
                        @Features.StatisticManager.Channels
                    </div>
                    <div class="stats-footer">
                        <p>Channels</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body">
                        @Features.StatisticManager.Users
                    </div>
                    <div class="stats-footer">
                        <p>Users</p>
                    </div>
                </div>
                <a asp-page="Statistics" class="float-right see-charts">
                    See statistics charts <i class="far fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>