@page
@model kuvuBot.Panel.Pages.StatisticsModel
@using MoreLinq;
@{
    ViewData["Title"] = "Statistics";
    var botContext = new BotContext();
    var stats = botContext.Statistics.DistinctBy(x => x.Date.Date).OrderBy(x => x.Date).ToList();
    var statsStrings = stats.Select(x => x.Date.ToString("dd/MM/yyyy")).ToList();
}
<section id="statistics">
    <div class="container pb-2">
        <h2 class="text-center mb-5 pt-2">Statistics</h2>
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body" id="uptime">
                        @(StatisticsModel.Statistics.Uptime)
                    </div>
                    <div class="stats-footer">
                        <p>Uptime</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body" id="memory">
                        @(StatisticsModel.Statistics.Memory)
                    </div>
                    <div class="stats-footer">
                        <p>Memory usage</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="stats-box">
                    <div class="stats-body" id="cpu">
                        @(StatisticsModel.Statistics.Cpu)
                    </div>
                    <div class="stats-footer">
                        <p>CPU usage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center d-flex flex-column justify-content-center align-items-center pb-3">
        <div class="w-75">
            <canvas id="Guilds"></canvas>
        </div>

        <div class="w-75">
            <canvas id="ChannelsUsers"></canvas>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js" crossorigin="anonymous"></script>
<script>
    const configChannelsUsers = {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(statsStrings)),
            datasets: [{
                label: 'Channels',
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: @Html.Raw(Json.Serialize(stats.Select(x => x.Channels)))
            }, {
                label: 'Users',
                fill: false,
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                data: @Html.Raw(Json.Serialize(stats.Select(x => x.Users)))
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,
                text: 'kuvuBot Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

        const configGuilds = {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(statsStrings)),
            datasets: [{
                label: 'Guilds',
                fill: false,
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: @Html.Raw(Json.Serialize(stats.Select(x => x.Guilds)))
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,
                text: 'kuvuBot Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };
        
    let url = new URL(window.location.href);
    url.protocol = url.protocol.replace("http", "ws");
        
    const ws = new WebSocket(url.toString());
    
    ws.addEventListener("message", ev => {
       const data = JSON.parse(ev.data);
       document.getElementById("cpu").innerText = data.cpu;
       document.getElementById("memory").innerText = data.memory;
       document.getElementById("uptime").innerText = data.uptime;
    });

    window.onload = function () {
        new Chart(document.getElementById('Guilds').getContext('2d'), configGuilds);
        new Chart(document.getElementById('ChannelsUsers').getContext('2d'), configChannelsUsers);
    };
</script>