@using kuvuBot.Commands
@using System.Linq;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var discord = await HttpContextAccessor.HttpContext.GetRestClient();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>kuvuBot Panel</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/panel/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Panel" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Panel" class="brand-link">
                <img src="https://cdn.discordapp.com/avatars/205965341241638912/3204e2fb0d34ff885d7ce2ed1c9982bc.png?size=2048" alt="kuvuBot Panel Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">kuvuBot Panel</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@(discord.CurrentUser.AvatarUrl ?? discord.CurrentUser.DefaultAvatarUrl)" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@discord.CurrentUser.Name()</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                @if (ViewData["Sidebar"] != null)
                {
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            @foreach (var sidebarItem in ViewData["Sidebar"] as SidebarItem[])
                            {
                                <li class="nav-item">
                                    <a href="@sidebarItem.Href" class="nav-link @PanelNavigation.PageNavClass(ViewContext, sidebarItem.Page.Text)">
                                        <i class="nav-icon @sidebarItem.Icon"></i>
                                        <p>
                                            @sidebarItem.Text
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@PanelNavigation.ActivePage(ViewContext).Text</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/Panel">Home</a></li>
                                @{
                                    var queue = new List<NavigationItem>();
                                    var currentPage = @PanelNavigation.ActivePage(ViewContext);
                                }
                                @while (currentPage != null)
                                {
                                    queue.Add(currentPage);
                                    currentPage = currentPage.Parent;
                                }
                                @{ queue.Reverse(); }
                                @foreach (var item in queue)
                                {
                                    <li class="breadcrumb-item @PanelNavigation.PageNavClass(ViewContext, item.Text)">
                                        @if (item.Href != null && @PanelNavigation.ActivePage(ViewContext) != item)
                                        {
                                            <a href="@item.Href">@item.Text</a>
                                        }
                                        else
                                        {                                            
                                            @item.Text
                                        }
                                    </li>
                                }
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-block-down">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2019 kuvuBot.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/panel/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/panel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/panel/js/adminlte.js"></script>
    <!-- Chart.js -->
    <script src="~/panel/plugins/chart.js/Chart.min.js"></script>
</body>
</html>
